---
layout: layout
permalink: profil/program.html
title: Program Unggulan
proker:
    - icon: icon
      title: Pemerintahan dan Hukum
      items:
        - Melakukan revitalisasi dan restrukturisasi organisasi untuk meningkatkan daya guna dan hasil guna melalui prinsip efisiensi, efektifitas, dan pemberdayaan menuju profesionalisme (The rigt man in the rigt place)
        - Memberikan peluang bagi pegawai untuk meningkatkan pendidikan, ketrampilan dan keahlian secara optimal.
        - Pen-Tradisian akuntabilitas publik sebagai perwujudan tanggung jawab pemerintah kepada masyarakat
        - Mengembangkan sistem rewards and punishment bagi pegawai di lingkungan Pemerintah daerah.
        - Menunjukkan political will dalam mencegah budaya dan praktek Korupsi, Kolusi, dan Nepotisme
        - Mengembangkan budaya “Melayani dengan Ihklas”, responsive dan tidak diskriminatif.
        - Menegakkan supremasi hukum yang menyentuh aspek keadilan bagi kehidupan bermasyarakat.
    - icon: icon
      title: Pendidikan
      items:
        - Pemenuhan hak terhadap pelayanan pendidikan dasar yang berkualitas.
        - Peningkatan kualitas pembelajaran
        - Penyediaan dan peningkatan layanan pendidikan dasar dan menengah
        - Peningkatan akses dan mutu pelayanan pendidikan
        - Pemantapan implementasi penyaluran BOS
        - Terciptanya keluasan dan kemerataan akses PAUD danpendidikan orang dewasa bermutu,berkesetaraan jender, dan berwawasan pendidikan pembangunan berkelanjutan
        - Penerapan sistem administrasi dan manajemen pendidikan yang profesional
        - Mendorong tumbuhnya perhatian dan komitmen masyarakat terhadap penyelenggaraan pendidikan yang berkualitas.
        - Melakukan evaluasi dan pengawasan terhadap kebijakan, program, penyelenggaran dan keluaran pendidikan.
    - icon: icon
      title: Kesehatan
      items:
        - Peningkatan sarana prasarana kesehatan yang dapat di akses dengan baik dan mudah oleh semua lapisan masyarakat.
        - Peningkatan kualitas pelayanan kesehatan yang profesional dan transparan.
        - Peningkatan kesadaran dan berperilaku hidup sehat.
        - Pengembangan layanan kesehatan masyarakat siaga (on call) di tingkat desa.
        - Revitalisasi fungsi Puskesmas sebagai institusi yang mendorong peningkatan kualitas pelayanan kesehatan untuk semua lapisan masyarakat.
    - icon: icon
      title: Infrastruktur
      items:
        - Percepatan pembangunan infrastruktur pedesaan untuk mendukung pemberdayaan ekonomi masyarakat desa.
        - Penyempurnaan sistem dan mekanisme penanganan proyek-proyek prasarana umum, permukiman dan prasarana ekonomi menuju efisiensi dan menekan kebocoran anggaran.
    - icon: icon
      title: Ekonomi
      items:
        - Pengembangan kawasan ekonomi baru serta mendorong peningkatan investasi.
        - Pemberdayaan ekonomi pedesaan melalui revitalisasi dan pembangunan infrastruktur jalur lintas desa.
        - Menumbuh kembangkan serta meningkatkan kemampuan manajemen bagi koperasi dan UKM melalui pelatihan dan bimbingan serta bantuan modal melalui kredit bunga rendah/tanpa bunga.
        - Pemberdayaan ekonomi sektor informal, pasar tradisional serta pedagang kaki lima.
        - Revitalisasi pembangunan ekonomi melalui pemberdayaan ekonomi rakyat.
    - icon: icon
      title: Kesejahteraan
      items:
        - Pemberdayaan Pemuda dengan menggali kemampuan untuk menciptakan lapangan kerja.
        - Memberikan perhatian yang luas melalui pemberian Bantuan sosial kepada masyarakat.
        - Kanalisasi kegiatan kemasyarakatan yang positif serta membangun programterpadu antar internal lembaga pemerintahan, Perguruan Tinggi, LSM,ORMAS, OKP dalam pertisipasinya menangani problem-problem sosial.
        - Mewujudkan perlindungan sosial melalui penanganan penyandang korban bencana, perlindungan anak dan keluarga, pemberdayaan perempuan dan peningkatan peran pemuda.
    - icon: icon
      title: Pertanian dan Industri
      items:
        - Perbaikan dan penyempurnaan infrastruktur pertanian.
        - Penguatan kegiatan pendampingan, penyuluhan dan kelembagaan pertanian ditingkat desa.
        - Pengembangan pertanian organik dan pengembangan komoditas alternatif unggulan yang memiliki nilai ekonomi tinggi.
    - icon: icon
      title: Pengelolaan Potensi Daerah dan Lingkungan Hidup
      items:
        - Pemberdayaan potensi alam untuk meningkatkan keuntungan ekonomisdaerah.
        - Menarik semua “uluh(Orang) sampit/mentaya” untuk membangun daerahnyasendiri untuk menggairahkan dunia usaha.
        - Memotong laju kerusakan lingkungan, memperbaiki (treatment) lingkunganyang terlanjur rusak, membangun lingkungan hidup yang produktif.
        - Pemberdayaan Masyarakat guna menumbuhkan kesadaran masyarakat atas lingkungan hidup.
    - icon: icon
      title: Agama dan Kemasyarakatan
      items:
        - Menempatkan agama sebagai sumber inspirasi dan motivasi dalam menjalankan amanah.
        - Pembangunan moral melalui Agama dan pendidikan budi pekerti.
        - Mewujudkan sistem dan iklim Kabupaten Kotawaringin TImur yang demokratis dan berakhlak mulia.
        - Pemberdayaan budaya ditujukan kepada penggalian dan pengembangan budaya menuju jati diri kotawaringin timur.
    - icon: icon
      title: Keamanan
      items:
        - Melindungi masyarakat dengan menciptakan rasa aman dalam semua kegiatan masyarakat.
        - Memelihara dan menjaga komunikasi dengan segenap komponen masyarakat kotawaringin timur.
        - Membangun kehidupan sosial budaya yang berkepribadian, dinamis, kreatif dan berdaya tahan terhadap pengaruh negatif dari globalisasi.
---
<div id="visi" class="px2" style="margin-bottom: 100px;">
    <div class="clearfix mxn1">
        <div class="col col-12 px1">
            <div class="clearfix flex flex-wrap content-stretch mxn1">
                <div class="col col-12 px1">
                    <h1 class="center page-title" style="font-size: 3rem;">Program Unggulan</h1>
                    <p class="mt2 center h3">Tap untuk melihat rincian program per bidang.</p>
                </div>
                {% for item in proker %}
                <div class="program-accordion col col-12 md-col-6 lg-col-4 px1 mb2">
                    <amp-accordion id="{{ item.title | slug }}" class="card card-blue p2" animate>
                        <section>
                            <header>
                                <h1 class="h2 center">{{ item.title }}</h1>
                            </header>
                            <ol>
                                {% for p in item.items %}
                                <li class="m0">{{ p }}</li>
                                {% endfor %}
                            </ol>
                        </section>
                    </amp-accordion>
                </div>
                {% endfor %}
                <div class="col col-12">
                    <div class="col col-12 sm-col-6 mt3">
                        <div id="prev-button" class="card bold left p2 ml1">
                            <a class="h4 flex items-center" href="/profil/misi"><span>{% include svg/left-arrow.svg %}</span><span class="ml1">Sebelumnya: Misi</span></a>
                        </div>
                    </div>
                    <div class="col col-12 sm-col-6 mt3">
                        <div id="next-button" class="card bold right p2 mr1">
                            <a class="h4 flex items-center" href="/profil"><span class="mr1">Kembali Ke Profil</span><span>{% include svg/right-arrow.svg %}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
