<div class="clearfix">
    <div class="col col-6 lg-col-3 mt2">
        <div class="mx2">
            <ul class="list-reset">
                {% for item in main-menu %}
                <li class="h4 align-left {% unless forloop.last %}mb1{% endunless %}"><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col col-6 lg-col-3 mt2">
        <p class="center">footer column 2</p>
    </div>
    <div class="col col-12 lg-col-6 mt2">
        <div class="flex flex-column items-center mx3">
            <svg width="100" height="100">
                <rect width="100" height="100" style="fill:rgba(255, 255, 255, 0.0);stroke-width:3;stroke:rgb(255, 255, 255)" />
            </svg>
            <div class="mt2 p2 border">
                <p class="center m0">Didanai oleh Tim Pemenangan Kotim Bercahaya.</p>
            </div>
            <p class="mt1 center">&copy; 2020. All rights reserved.</p>
        </div>
    </div>
</div>