<div class="fit flex items-center justify-start px2 pt2 pb1">
    <div role="button" on="tap:site-sidebar" tabindex="0" class="h1 mr3 xs-hide sm-hide">☰</div>
    <div class="inline-block mx-auto">
        <a href="/">
            <amp-img src="https://res.cloudinary.com/kotimbercahaya/image/upload/w_160,h_90,c_fit,f_auto/assets/logo-txt.png"
                     layout="fixed" width="100" height="56" 
                     style="z-index: 5;" noloading></amp-img>
        </a>
    </div>
    <div class="mr3 ml3 xs-hide sm-hide"></div>
</div>


