<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="dns-prefetch" href="https://cdn.ampproject.org/">

<!--url_canonical-->
<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<!--style amp-custom-->
{% include component/style.html %}

<!--structured json data, opengraph, twittergraph-->
{% include component/metadata.html %}

<!--favicon-->
{% include component/favicon.html %}

<!--title-->
<title>
{% if title %}
    {{ title }} - {{ site.description }}
{% else %}
    {{ site.title }} - {{ site.description }}
</title>
{% endif %}