{% assign site_title = site.title %}
{% assign site_description = site.description %}
{% assign site_url = site.url %}
{% assign site_logo = "/android-chrome-192x192.png" %}
{% assign categories = "pilkada, 2020, rudini, samsudin, kotim, kotawaringin, timur, kalteng, bercahaya" | split: ", " %}

{% if page.inputPath contains "_content" %}
    {% if image %}
        {% assign post_image = image %}
    {% else %}
        {% assign post_image = site_logo %}
    {% endif %}
    {% if subtitle %}
        {% assign description = subtitle %}
    {% else %}
        {% assign description = title | append: " - Oleh " | append: site_title %}
    {% endif %}
    {% assign absoluteUrl = page.url | replace: ".html", "" | prepend: site_url %}
    <!--application/ld+json-->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "name": "{{ title }}",
        "headline": "{{ title }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{{ page.date }}",
        "author": {
            "@type": "Person",
            "name": "{{ site_title }}",
            "url": "{{ site_url }}"
        },
        "publisher": {
            "@type": "Organization",  
            "name": "{{ site_title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site_logo | prepend: site_url }}"
            }
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ absoluteUrl }}"
        },
        "url": "{{ absoluteUrl }}",
        "image": "{{ post_image | prepend: site_url }}",
        "description": "{{ description }}"
    }
    </script>

    <!--opengraph-->
    <meta name="author" content="{{ site_title }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ categories | join: ', ' }}"/>
    <meta property="og:site_name" content="{{ site_title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:locale" content="id_ID"/>
    <meta property="article:published_time" content="{{ page.date }}"/>
    <meta property="article:modified_time" content="{{ page.date }}"/>
    <meta property="article:author" content="{{ site_url }}"/>
    {% for category in categories %}
    <meta property="article:section" content="{{ category }}"/>
    <meta property="article:tag" content="{{ category }}"/>
    {% endfor %}
    <meta property="og:url" content="{{ absoluteUrl }}"/>
    {% if post_image contains "http" %}
    <meta property="og:image" content="{{ post_image }}">
    {% else %}
    <meta property="og:image" content="{{ post_image | prepend: site_url }}">
    {% endif %}
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />

    <!--twittergraph-->
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@radenpioneer">
    <meta name="twitter:description" content="{{ description }}">
    {% if post_image contains "http" %}
    <meta name="twitter:image" content="{{ post_image }}">
    {% else %}
    <meta name="twitter:image" content="{{ post_image | prepend: site_url }}">
    {% endif %}
    <meta name="twitter:creator" content="@radenpioneer">
{% else %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "{{ site_title }}",
        "url": "{{ site_url }}",
        "image": "{{ site_logo | prepend: site_url }}",
        "description": "{{ site_description }}"
    }
    </script>
    <meta name="author" content="{{ site_title }}" />
    <meta name="description" content="{{ site_description }}" />
    <meta property="og:site_name" content="{{ site_title }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ site_title }}"/>
    <meta property="og:description" content="{{ site_description }}"/>
    <meta property="og:locale" content="id_ID"/>
    <meta property="og:url" content="{{ site_url }}"/>
    <meta property="og:image" content="{{ site_logo | prepend: site_url }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <!--twittergraph-->
    <meta name="twitter:title" content="{{ site_title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ site_logo | prepend: site_url }}">
{% endif %}