---
layout: layout
---
<div id="coming-soon" style="margin-bottom: 100px;">
    <div class="clearfix">
        <div class="col col-12">
            <div class="flex flex-column items-center justify-center">
                <amp-img class="mx-auto" src="https://res.cloudinary.com/kotimbercahaya/image/upload/w_200,h_360,o_75,c_fit/assets/logo-w-photo_lqxgyn.png" layout="intrinsic" width="200" height="360"></amp-img>
                <h1 id="coming-soon-text" class="mb0 mt2" style="font-size: 2.5rem;">Coming Soon</h1>
            </div>
        </div>
    </div>
</div>