<div id="hero" class="px2 mb3">
    <div class="clearfix flex flex-wrap content-stretch mxn1">
        <div class="col col-12 md-col-6 lg-col-8 px1 mt2">
            <amp-carousel class="rounded-x" type="slides" layout="responsive" height="10" width="16" role="region" autoplay loop>
                {% for item in images %}
                <amp-img src="https://res.cloudinary.com/kotimbercahaya/image/upload/w_1200,c_fit/images/{{ item }}.jpg" layout="responsive" height="900" width="1600"></amp-img>
                {% endfor %}
            </amp-carousel>
        </div>
        <div class="col col-12 md-col-6 lg-col-4 px2 mt2">
            <div class="clearfix mxn2">
                <div class="col col-12">
                    <div class="clearfix flex flex-wrap content-stretch">
                        {% for item in main-menu limit: 2 %}
                        <div class="col col-6 px1 mb2">
                            <div class="home-menu rounded-x p1" style="height: 100%;">
                                <a href="{{ item.link }}">
                                    <amp-img class="mt2 mx2 mb0" src="https://res.cloudinary.com/kotimbercahaya/image/upload/w_300,h_300,c_fit/assets/{{ item.image }}.png" layout="intrinsic" height="300" width="300" noloading></amp-img>
                                    <p class="home-menu-label center h5 bold mt0 mb1 mx1 p1">{{ item.name }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col col-12">
                    <div class="clearfix flex flex-wrap content-stretch">
                    {% for item in main-menu offset: 2 %}
                    <div class="col col-6 mb2 px1">
                        <div class="home-menu p1 flex items-center rounded-x" style="height: 100%;">
                            <p class="align-left h3 my1 bold m0"><a href="{{ item.link }}">{{ item.name }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>